@import "../_base";

//样式-1，出现在首页"赛事"
.saishi {
    position: relative;
    background-color: white;
    padding: 2.3% 2.7%;
    border-bottom: 0.01rem solid #eee;
    text-align: center;
    font-size: 1.2rem;
    .line-1 {
        height: 1.2rem;
        line-height: 1.2rem;
        .matchName {
            color: #FF3830;
            margin-right: 0.5rem;
        }
        .matchTime {
            color: #e3e3e3;
        }
    }
    .line-2 {
        position: relative;
        height: 3rem;
        line-height: 3rem;

        .saishiLeft, .saishiRight {
            display: inline-block;
            width: 40%;
            vertical-align: top;
            & > img {
                vertical-align: inherit;
                height: 3rem;
                border-radius: 1.5rem;
                border: 0.01rem solid #eee;
                background: #fff;
                margin: 0 0.5rem;
            }
            & > span {
                line-height: 3rem;
                display: inline-block;
                height: 3rem;
                color: #000;
                font-size: 1.6rem;
            }
        }
        .saishiLeft {
            text-align: left;
            float: left;
        }
        .saishiRight {
            text-align: right;
            float: right;
            & > img{
                float: right;
            }
        }
        .saishiMiddle {
            color: $green;
            font-size: 1.6rem;
            position: absolute;
            left: 40%;
            width: 20%;
            text-align: center;
        }
    }
    .line-3 {
        .specialCountInfo {
            height: 1.8rem;
            line-height: 1.8rem;
            width: 6rem;
            border-radius: 50%;
            background: $light_gray;
            display: inline-block;
        }
        .specialCount {
            color: $red;
        }
    }
}


//样式-2，出现在"最新推荐"和"我的"
.saishiAttachPrice {
    position: relative;
    background: $light_gray;
    border-radius: 0.2rem;
    width: 100%;
    height: 6rem;
    //&:before {
    //    content: '';
    //    display: block;
    //    position: absolute;
    //    left: 1.5rem;
    //    top: -0.5rem;
    //    width: 0;
    //    height: 0;
    //    border-style: solid;
    //    border-width: 0 0.5rem 0.5rem 0.5rem;
    //    border-color: transparent transparent $light_gray transparent;
    //}
    .leftPart {
        box-sizing: border-box;
        display: inline-block;
        width: 74%;
        vertical-align: top;
        padding-left: 4.5%;
        .sTopInfo {
            height: 3rem;
            line-height: 3rem;
            font-size: 1.2rem;
            .liansai {
                color: $red;
                margin-right: 0.5rem;
                vertical-align: middle;
            }
            .add {
                border: 0.05rem solid $blue;
                border-radius: 0.1rem;
                padding: 0.05rem;
                color: $blue;
                font-size: 1rem;
            }
            .time {
                float: right;
                margin-right: 5%;
                color: $gray;
            }
        }
        .bottomInfo {
            height: 1.5rem;
            line-height: 1.5rem;
            text-align: center;
            font-size: 1.5rem;
            color: $black;
            .left {
                float: left;
            }
            .right {
                float: right;
                margin-right: 6.5%;
            }
        }
    }
    .rightPart {
        display: inline-block;
        width: 26%;
        line-height: 6rem;
        height: 6rem;
        box-sizing: border-box;
        border-left: 0.05rem solid $light_gray;
        text-align: center;
        color: $red;
        font-size: 1.5rem;
    }
}