.idea/
**/node_modules/

**/build

**/bower_components/**
**/templates.js

UI/
bundle.*
**/*.bundle.*
**/*.map
.sass-cache/

**.css
**.orig
**.log

config.rb

templates.js
**/functionLib.scss
karma.conf.js
*.diff
src/scripts/commonModule/viewData.js
**/viewData.js

sftp-config.json
tmp_*.png
src/images/skin/*.jpg

src/scripts/actions/market/order.json
src/scripts/actions/market/coupon.json
