.title{
  .switch-area{
    width: 50%;
    height: 8rem;
    line-height: 8rem;
    margin: 0 auto;
    font-size: 0;
    overflow: hidden;
    &>div{
      display: inline-block;
      font-size: 14px;
      text-align: center;
      color: #fff;
      width: 50%;
      height: 6rem;
      line-height: 6rem;
      margin-top: 1rem;
      border: 1px solid #fff;
      &:nth-of-type(1){
        border-radius: 0.4rem 0 0 0.4rem;
      }
      &:nth-of-type(2){
        border-radius: 0 0.4rem 0.4rem 0;
      }
      &.active{
        background-color: #fff;
        color: #db594b;
      }
      &.unactive{
        background-color: #db594b;
        color: #fff;
      }
    }

  }
}

.apply-expert{
  width: 100%;
  padding-bottom: 10rem;
  .user-input{
    .input-area{
      .input-item{
        background-color: #fff;
        padding-left: 3rem;
        height: 7rem;
        line-height: 7rem;
        margin-top: 2rem;
        font-size: 3.2rem;
        color: #b0b6bf;
        display: flex;
        .item-label{
          color: #414b59;
        }
        .item-input{
          flex: 1;
          outline: none;
          font-size: 3.2rem;
          color: #b0b6bf;
          text-indent: 1rem;
        }
      }
      .file-item{
        background-color: #fff;
        padding-left: 3rem;
        height: 7rem;
        line-height: 7rem;
        margin-top: 2rem;
        font-size: 3.2rem;
        position: relative;
        .item-label{
          color: #414b59;
        }
        .add-card{
          width: 3rem;
          float: right;
          margin: 2rem;
        }
        .form-horizontal{
          position: absolute;
          top: 0;
          left: 0;
          z-index: -10;
        }
      }
      .image-preview{
        background-color: #fff;
        padding: 3rem 0;
        border-top: 1px solid #f1f1f5;
        position: relative;
        .preview-image{
          display: block;
          width: 50%;
          margin: 0 auto;
        }
        .close{
          width: 3rem;
          position: absolute;
          right: 2rem;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      textarea{
        width: 100%;
        border: 0;
        outline: none;
        margin-top: 2rem;
        padding: 3rem;
        resize: none;
        font-size: 3.2rem;
        color: #b0b6bf;
      }
    }
    .role-area{
      padding-left: 3rem;
      margin-top: 1rem;
      font-size: 2rem;
      .checkbox-icon{
        width: 2rem;
        vertical-align: middle;
        margin-right: 1rem;
      }
      .contract-name{
        color: #99beed;
      }
    }
  }

  .apply-button-area{
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    padding: 1.6rem 3rem;
    background-color: #fff;
    .apply-button{
      background-color: #f47564;
      height: 6.8rem;
      line-height: 6.8rem;
      text-align: center;
      color: #fff;
      font-size: 3.4rem;
      border: 1px solid #f47564;
      border-radius: 0.5rem;
    }
  }
}
