.article{
  .article-title{
    color: #434343;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
  }
  .article-context{
    color: #777;
    font-size: 1.5rem;
    text-align: left;
    padding: 0 15px;
    line-height: 2rem;
  }
}