@import "../_base";

.specialInfo {
    position: relative;
    padding: 1.6rem 4rem;
    text-align: left;
    border-bottom: 0.1rem solid $light_gray;
    & > img {
        width: 6.8rem;
        border-radius: 3.4rem;
        display: inline-block;
        vertical-align: top;
        margin-right: 3rem;
        font-size: 0;
    }
    .textInfo {
        display: inline-block;
        .tTitle {
            font-size: 3rem;
            line-height: 3.7rem;
            color: $black;
        }
        .tDesc {
            color: gray;
            font-size: 2.4rem;
            line-height: 3.1rem;
        }
    }
}

.focus {
    margin-bottom: 5rem;
    .fitem {
        padding: 3rem 4rem;
        display: block;
        background: #fff;
        .right {
            display: inline;

            &:after {
                content: '';
                display: inline;
                position: absolute;
                background: url(../images/right.png) 0 50% no-repeat;
                background-size: contain;
                right: 0;
                top: 0;
                width: 2rem;
                height: 100%;
                margin-right: 4rem;
            }
            .numInfo {
                display: inline-block;
                float: right;
                font-size: 3rem;
                line-height: 4rem;
                height: 4rem;
                margin-right: 1rem;
                width: 4rem;
                background-color: red;
                text-align: center;
                top: 2rem;
                position: relative;
                border-radius: 2rem;
                color: white;
            }
        }
    }
    .add {
        width: 55.2rem;
        height: 60%;
        text-align: center;
        margin-left: 10%;
        background-color: #fff;
        position: absolute;
        margin-top: 10%;
        .line {

        }
        .title {
            height: 12rem;
            line-height: 12rem;
            font-size: 3rem;
            color: black;
        }
        .jump {
            position: absolute;
            bottom: 0;
            width: 100%;
            font-size: 3.2rem;
            color: $blue;
            line-height: 8.8rem;
            height: 8.8rem;
            background-color: #fff;
            border-top: 0.1rem solid $light_gray;
        }
        .list {
            overflow-y: auto;
            height: 75%;
            .fix {
                height: 4rem;
            }
            .new {
                .right {
                    float: right;
                    margin-top: 1.4rem;
                    display: inline-block;
                    .guanzhu {
                        width: 4rem;
                        height: 4rem;
                        color: green;
                        background: url("../images/focus/focus.png") 0 0 no-repeat;
                        background-size: contain;
                        display: block;
                    }
                    .alreadyGuanzhu {
                        width: 4rem;
                        height: 4rem;
                        color: green;
                        background: url("../images/focus/focus_1.png") 0 0 no-repeat;
                        background-size: contain;
                        display: block;
                    }
                }
            }
        }
    }
}