.guard1{
  height:100%;
  background-image: url(/images/guanka.png);
  background-size: contain;
  text-align: center;
  .ka1{
    width: 80%;
    margin-top: 25%;
  }
  .ka2{
    width: 80%;
    margin-top: 25%;
  }
}
