.guanka{
  height: 736px;
  width: 100%;
  background-image: url(/images/yx.png);
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 736px;
  &>img{
    width: 55px;
  }
  .guan1{
    position: absolute;
    top: 203px;
    left: 31%;
  }
  .guan2{
    position: absolute;
    top: 317px;
    left: 75%;
  }
  .guan3{
    position: absolute;
    top: 471px;
    left: 9%;
  }
  .guan4{
    position: absolute;
    top: 495px;
    left: 81%;
  }
  .guan5{
    position: absolute;
    top: 627px;
    left: 33%;
  }
  .bx{
    width: 100px;
  }
  .bx1{
    position: absolute;
    top: 213px;
    left: 5%;
  }
  .bx2{
    position: absolute;
    top: 297px;
    left: 49%;
  }
  .bx3{
    position: absolute;
    top: 443px;
    left: 16%;
  }
  .bx4{
    position: absolute;
    top: 536px;
    left: 62%;
  }
  .bx5{
    position: absolute;
    top: 640px;
    left: 5%;
  }
  .title{
    color: white;
    font-size: 1.5rem;
  }
  .title1{
    position: absolute;
    top: 263px;
    left: 29%;
  }
  .title2{
    position: absolute;
    top: 375px;
    left: 72%;
  }
  .title3{
    position: absolute;
    top: 534px;
    left: 1%;
  }
  .title4{
    position: absolute;
    top: 473px;
    left: 83%;
  }
  .title5{
    position: absolute;
    top: 606px;
    left: 31%;
  }
}