@import "../_base";
.hotmatchdetail{
  .top{

  }
  .header{
    line-height: 3rem;
    background-color: white;
    border-bottom: 1px solid;
    border-bottom-color: #d7d7d7;
    margin-bottom: 1rem;
    text-align: center;
    .on{
      width: 30%;
      display: inline-block;
      border-bottom: 2px solid;
      border-bottom-color: #0000c4;
      color: #0000c4;
      margin-right: 10%;
    }
    .end{
      width: 30%;
      display: inline-block;
    }
  }
  .saishi {
    background-color: green;
    height: 13rem;
    padding: 8% 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    //background: url('../images/header.jpg') 0 0 no-repeat;
    //background-size: 100% 100%;
    .line-1 {
      .matchName {
        margin-right: 0;
        font-size: 2.4rem;
        margin-bottom: 8rem;
        display: block;
        color: $light_gray;
      }
      .matchTime {
        margin-right: 0;
        font-size: 2rem;
        display: block;
        color: $light_gray;
      }
    }
    .line-2 {
      position: relative;
      height: 6rem;
      line-height: 6rem;
      .saishiLeft, .saishiRight {
        display: inline-block;
        width: 40%;
        vertical-align: top;
        & > img {
          display: block;
          margin: 0 auto;
        }
        & > span {
          display: block;
          font-size: 3rem;
          color: $light_gray;
        }
      }
      .saishiLeft {
        text-align: center;
      }
      .saishiRight {
        text-align: center;
        &>img{
          float: none;
        }
      }
      .saishiMiddle {
        color: $green;
        font-size: 6rem;
      }
    }
    .line-3 {
      display: none;
    }
  }
  .recItem{
    .specialInfo{
      padding-left: 1rem;
      height: 4rem;
      background-color: white;
      border-bottom: 0.1rem solid;
      border-bottom-color: #d7d7d7;
      &>img{
        width: 3rem;
        border-radius: 2rem;
        margin-top: 0.5rem;
        vertical-align: top;
      }
      .textInfo{
        display: inline-block;
        .tTitle{
          font-size: 3rem;
          line-height: 2.5rem;
          color: black;
        }
        .tDesc{
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
    }
    .saishiItem{
      height: 1.5rem;
      background-color: white;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
      .leftPart{
        display: inline-block;
        width: 80%;
        height: 4rem;
        vertical-align: top;
        .sTopInfo{
          height: 1.5rem;
          font-size: 1rem;
          padding-left: 1rem;
          .liansai{
            color: orange;
          }
          .add{
            margin-left: 1rem;
            border: 0.1rem solid;
            border-radius: 0.2rem;
            padding: 0.1rem;
            color: green;
          }
          .time{
            float: right;
            margin-right: 1rem;
            font-size: 0.5rem;
            color: #bebebe;
          }
        }
        .bottomInfo{
          height: 2.5rem;
          padding-left: 1rem;
          line-height: 2.5rem;
          text-align: center;
          .left{
            float: left;
          }
          .right{
            float: right;
            margin-right: 1rem;
          }
        }
      }
      .rightPart{
        display: inline-block;
        width: 20%;
        line-height: 1.5rem;
        box-sizing: border-box;
        border-left: 0.1rem solid;
        border-color: #d9d9d9;
        text-align: center;
        color: red;
        height: 1.5rem;
      }
    }
  }

}

.tabs {
  border-bottom: 0.1rem solid $light_gray;
  height: 8rem;
  line-height: 8rem;
  overflow-y: auto;
  background: #fff;
  width: 80rem;
  box-sizing: border-box;
}
.tabItem {
  margin: 0 15.6%;
  width: 18.6%;
  height: 8rem;
  color: $gray;
  font-size: 3rem;
  line-height: 8rem;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  &.active {
    color: $black;
    border-bottom: 0.6rem solid $main_red;
  }
}