@import "../_base";
.hotmatchdetail{
  .top{

  }
  .header{
    line-height: 1.5rem;
    background-color: #fff;
    margin-bottom: 0.5rem;
    text-align: center;
    .on{
      width: 30%;
      display: inline-block;
      border-bottom: 2px solid;
      border-bottom-color: #0000c4;
      color: #0000c4;
      margin-right: 10%;
    }
    .end{
      width: 30%;
      display: inline-block;
    }
  }
  .saishi {
    height: 6.5rem;
    padding: 8% 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: url('../images/ssxq_bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
    .line-1{
      height: 1.5rem;
      line-height: 1.2rem;
      .matchName {
        margin-right: 0;
        font-size: 1.2rem;
        margin-bottom: 4rem;
        display: block;
        color: $light_gray;
      }
      .matchTime {
        margin-right: 0;
        font-size: 1rem;
        display: block;
        color: $light_gray;
      }
    }
    .line-2 {
      position: relative;
      height: 3rem;
      line-height: 3rem;
      .saishiLeft, .saishiRight {
        display: inline-block;
        width: 40%;
        vertical-align: top;
        & > img {
          display: block;
          margin: 0 auto;
        }
        & > span {
          display: block;
          font-size: 1.5rem;
          color: $light_gray;
        }
      }
      .saishiLeft {
        text-align: center;
      }
      .saishiRight {
        text-align: center;
        &>img{
          float: none;
        }
      }
      .saishiMiddle {
        color: $green;
        font-size: 3rem;
      }
    }
    .line-3 {
      display: none;
    }
  }
  .recItem{
    margin-bottom: 1rem;
    .specialInfo {
      background: #fff;
    }
    .saishiItem{
      line-height: 2.5rem;
      background-color: #fff;
      .leftPart{
        margin: 0.5rem 0;
        width: 80%;
        display: inline-block;
        vertical-align: top;
        .sTopInfo{
          font-size: 1rem;
          .add{
            margin-left: 1.5rem;
            border: 0.1rem solid $blue;
            border-radius: 0.2rem;
            padding: 0.1rem;
            color: $blue;
            font-size: 1.1rem;
          }
          .recWay{
            margin-left: 0.5rem;
            background: $green;
            border-radius: 0.2rem;
            padding: 0.2rem;
            font-size: 1.1rem;
            color: #fff;
            background: $green;
          }
          .time{
            float: right;
            margin-right: 1rem;
            font-size: 1.1rem;
            color: $gray;
          }
        }
        .titleDesc {
          font-size: 1.5rem;
          margin-left: 1.5rem;
          height: 2.5rem;
          line-height: 2.5rem;
        }
      }
      .rightPart{
        margin: 0.5rem 0;
        display: inline-block;
        width: 20%;
        line-height: 5rem;
        height: 5rem;
        border-left: 0.05rem solid $light_gray;
        text-align: center;
        color: $red;
        font-size: 1.2rem;
      }
    }
  }

}

.tabs {
  border-bottom: 1px solid $light_gray;
  height: 4rem;
  line-height: 4rem;
  overflow-y: auto;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
}
.tabItem {
  margin: 0 15.6%;
  width: 18.6%;
  height:4rem;
  color: $gray;
  font-size: 1.5rem;
  line-height: 4rem;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  &.active {
    color: $black;
    border-bottom: 0.3rem solid $main_red;
  }
}
