.hotmatchdetail{
  .top{
    .saishi{
      background-color: white;
      border-bottom: 0.1rem solid;
      border-bottom-color: #cdcdcd;
      margin-bottom: 1rem;
      background-image: url('../images/header.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-origin: content-box;
      .saishiLeft{
        display: inline-block;
        width: 30.33%;
        vertical-align: top;
        text-align: center;
        &>img{
          width: 3rem;
          border-radius: 2rem;
          vertical-align: top;
          margin-top: 1.5rem;
          display: block;
          left: 50%;
          margin-left: -1.5rem;
          position: relative;
          background-color:white;
        }
        &>span{
          line-height: 4rem;
          display: block;
          height: 4rem;
          color: white;
        }
      }
      .saishiRight{
        display: inline-block;
        width: 30.33%;
        vertical-align: top;
        text-align: center;
        &>img{
          width: 3rem;
          border-radius: 2rem;
          vertical-align: top;
          margin-top: 1.5rem;
          display: block;
          left: 50%;
          margin-left: -1.5rem;
          position: relative;
          background-color:white;
        }
        &>span{
          line-height: 4rem;
          display: block;
          height: 4rem;
          color: white;
        }
      }
      .saishiMiddle{
        display: inline-block;
        width: 39.33%;
        height: 8.5rem;
        vertical-align: top;
        text-align: center;
        font-size: 1rem;
        line-height: 2rem;
        .liansai{
          height: 2.5rem;
          line-height: 2.5rem;
          color: white; 
          .o{
            margin-right: 1rem
          }
          
        }
        .g{
          color: #00da00;
          font-size: 4rem;
          height: 3rem;
          line-height: 3rem;
        }
        .time{
          height: 2.5rem;
          line-height: 2.5rem;
          color: red;
        }
      }
    }
  }
  .header{
    line-height: 3rem;
    background-color: white;
    border-bottom: 1px solid;
    border-bottom-color: #d7d7d7;
    margin-bottom: 1rem;
    text-align: center;
    .on{
      width: 30%;
      display: inline-block;
      border-bottom: 2px solid;
      border-bottom-color: #0000c4;
      color: #0000c4;
      margin-right: 10%;
    }
    .end{
      width: 30%;
      display: inline-block;
    }
  }
  .recItem{
    .specialInfo{
      padding-left: 1rem;
      height: 4rem;
      background-color: white;
      border-bottom: 0.1rem solid;
      border-bottom-color: #d7d7d7;
      &>img{
        width: 3rem;
        border-radius: 2rem;
        margin-top: 0.5rem;
        vertical-align: top;
      }
      .textInfo{
        display: inline-block;
        .tTitle{
          font-size: 3rem;
          line-height: 2.5rem;
          color: black;
        }
        .tDesc{
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
    }
    .saishiItem{
      height: 1.5rem;
      background-color: white;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
      .leftPart{
        display: inline-block;
        width: 80%;
        height: 4rem;
        vertical-align: top;
        .sTopInfo{
          height: 1.5rem;
          font-size: 1rem;
          padding-left: 1rem;
          .liansai{
            color: orange;
          }
          .add{
            margin-left: 1rem;
            border: 0.1rem solid;
            border-radius: 0.2rem;
            padding: 0.1rem;
            color: green;
          }
          .time{
            float: right;
            margin-right: 1rem;
            font-size: 0.5rem;
            color: #bebebe;
          }
        }
        .bottomInfo{
          height: 2.5rem;
          padding-left: 1rem;
          line-height: 2.5rem;
          text-align: center;
          .left{
            float: left;
          }
          .right{
            float: right;
            margin-right: 1rem;
          }
        }
      }
      .rightPart{
        display: inline-block;
        width: 20%;
        line-height: 1.5rem;
        box-sizing: border-box;
        border-left: 0.1rem solid;
        border-color: #d9d9d9;
        text-align: center;
        color: red;
        height: 1.5rem;
      }
    }
  }
  .tabs{
    border-bottom: 1px solid;
    border-bottom-color: #cdcdcd;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .tabItem{
    display: inline-block;
    width: 23%;
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    color: #364bff;
    border-width: 0.1rem;
    border-style: solid;
    border-color: #364bff;
    box-sizing: border-box;
    border-left-style: none;
  }
  .tabItemWithoutBorder{
    display: inline-block;
    width: 23%;
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    color: #364bff;
    box-sizing: border-box;
    border-width: 0.1rem;
    border-style: solid;
    border-color: #364bff;
    border-left-style: none;
  }
  .tabItemWithLine{
    background-color: #364bff;
    color: white;
  }
  .leftRadius{
    border-bottom-left-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
  }
  .rightRadius{
    border-bottom-right-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }
}