@import "../_base";

.userInfo {
    position: relative;
    padding: 1.75rem 1.5rem 2.25rem;
    text-align: left;
    border-bottom: 0.05rem solid $light_gray;
    & > img {
        width: 5rem;
        border-radius: 2.25rem;
        display: inline-block;
        vertical-align: middle;
        margin-right: 1.5rem;
        font-size: 0;
    }
    .textInfo {
        display: inline-block;
        vertical-align: middle;
        .tTitle {
            font-size: 1.6rem;
            line-height: 2.5rem;
            color: $black;
        }
        .tDesc {
            color: $gray;
            font-size: 1.4rem;
            line-height: 2rem;
        }
    }
    .right {
        float: right;
        margin-top: 0.7rem;
        display: inline-block;
    }
}

.articlePreview {
    background: #fff;
    padding: 1rem 1.5rem;
    .articleTitle {
        color: $black;
        font-size: 1.5rem;
        line-height: 2.5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .articleDesc {
        color: $gray;
        font-size: 1.4rem;
        line-height: 2rem;
    }
    .articleDesc +  .articleDesc{
        margin-top: 1rem;
    }
}

.mine {
    background: $light_gray;
    margin-bottom: 2.5rem;
    .header {
        background: #fff;
        .userInfo {
            .money {
                color: $main_red;
                margin-right: 0.25rem;
            }
            .right {
                margin-top: 1.75rem;
                .writeArticleBtn {
                    font-size: 1.3rem;
                    color: $blue;
                    padding: 0.1rem;
                    border: 0.05rem solid $blue;
                }
            }
        }
        .options {
            padding: 0.5rem 0;
            .optionButton {
                height: 4rem;
                line-height: 4rem;
                display: inline-block;
                font-size: 1.6rem;
                width: 50%;
                text-align: center;
                color: $black;
                &:nth-child(1) {
                    border-right: 1px solid $light_gray;
                }
                img {
                    height: 1.6rem;
                    display: inline-block;
                    vertical-align: text-bottom;
                    margin: 0 0.5rem;
                }
            }
        }
    }
    .contentWrap {
        .contentTitle {
            height: 3.5rem;
            line-height: 3.5rem;
            color: $gray;
            font-size: 1.4rem;
            margin-left: 1.5rem;
        }
        .contentInner {
            .saishiAttachPrice{
                background: #fff;
            }
            .saishiAttachPrice + .saishiAttachPrice {
                margin-top: 1rem;
            }
        }
    }
}
