.newAddItemWap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	.newAddItem {
		flex: 1;
		width: 97%;
		margin: 0.5rem;
		height: 6rem;
		justify-content: center;
		align-items: center;
		display: flex;
		background-color: #00BCD4;
		color: white;
		border-radius: 4px;
	}
	.itemMatchWap {
		width: 100%;
		.itemMatch {
			border-radius: 4px;
			padding-left: 1rem;
			padding-right: 1rem;
			margin: 0.5rem;
			background-color: white;
			width: 95%;
			.middleWap {
				position: relative;
				.line1 {
					height: 3rem;
					line-height: 3rem;
					display: flex;
					justify-content: center;
					align-items: center;
					.left {
						color: orange;
						font-size: 2rem;
						flex: 1;
					}
					.money {
						font-size: 2rem;
						flex: 1;
						text-align: center;
						color: red;
					}
					.right {
						font-size: 2rem;
						flex: 1;
						text-align: right;
					}
				}
				.line2 {
					height: 4rem;
					line-height: 4rem;
					display: flex;
					justify-content: center;
					align-items: center;
					color: black;
					.left {
						font-size: 2.5rem;
						flex: 1;
					}
					.vs {
						font-size: 2rem;
						flex: 1;
						text-align: center;
					}
					.right {
						font-size: 2.5rem;
						flex: 1;
						text-align: right;
					}
				}
				.line3 {
					height: 6rem;
					line-height: 6rem;
					font-size: 2.5rem;
					.left {
						width: 10%;
						display: inline-block;
						.num {
							display: block;
							width: 3rem;
							text-align: center;
							background-color: #fcb2b2;
							color: white;
							height: 3rem;
							border-radius: 4rem;
							position: relative;
							line-height: 3rem;
						}
					}
					.right {
						width: 90%;
						display: inline-block;
						.first {
							width: 30%;
							display: inline-block;
							text-align: center;
							height: 4rem;
							border: 1px solid;
							border-radius: 3px;
							position: relative;
							line-height: 4rem;
							box-sizing: border-box;
						}
						.middle {
							width: 30%;
							display: inline-block;
							text-align: center;
							height: 4rem;
							border: 1px solid;
							border-radius: 3px;
							position: relative;
							line-height: 4rem;
							box-sizing: border-box;
							margin-left: 5%;
						}
						.last {
							width: 30%;
							display: inline-block;
							text-align: center;
							height: 4rem;
							border: 1px solid;
							border-radius: 3px;
							position: relative;
							line-height: 4rem;
							box-sizing: border-box;
							margin-left: 5%;
						}
						> .selected {
							color: red;
						}
					}
				}
			}
			.deleteBtn {
				justify-content: center;
				display: flex;
				align-items: center;
				background-color: #00BCD4;
				color: white;
				border-radius: 4px;
			}
		}
	}
	.recommendReason {
		margin: 1rem;
		height: 16rem;
		background: transparent;
		.reason {
			flex: 1;
			height: 100%;
			font-size: 15px;
			padding: 0.5rem;
			border: none;
			resize: none;
			outline: none;
		}
	}
	.recommendFee {
		background-color: transparent;
		color: black;
		justify-content: flex-start;
		font-size: 16px;
		.seeFee {
			padding: 8px;
			font-size: 15px;
			border: 0;
			outline: 0;
			margin-right: 1rem;
			border-radius: 4px;
		}
		.mili {
			color: red;
		}
	}
}

.deployBtnWap {
	margin-top: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	.deployBtn {
		width: 100%;
		justify-content: center;
		align-items: center;
		display: flex;
		height: 6rem;
		background-color: #DC594B;
		color: white;
	}
}

.newAddAlert {
	.messageDiv {
		height: 50rem;
		overflow-y: auto;

		.matchWap.selected {
			background-color: #ccc;
		}

		.matchWap {
			display: flex;
			justify-content: center;
			align-items: center;
			.item {
				vertical-align: top;
				height: 9rem;
				line-height: 9rem;
				flex: 1;
			}

			.itemLeft, .itemRight {
				> img {
					height: 5rem;
					border-radius: 2.5rem;
					vertical-align: top;
					margin-top: 2rem;
				}
				> span {
					line-height: 9rem;
					height: 9rem;
					color: black;
				}
			}
			.itemMiddle {
				height: 9rem;
				vertical-align: top;
				text-align: center;
				font-size: 2rem;
				line-height: 3rem;
				.o {
					color: orange;
					margin-right: 1rem;
				}
				.g {
					color: green;
				}
			}
		}
	}
}