@import "../_base";
@import "../components/_saishiItem";

.qiusheng {
    overflow-x: hidden;
    .block {
        display: block;
    }
    .swiper_div {
        float: left;
        position: relative;
        transition-property: transform;
        // height:10rem;
        background-color: #efeff4;
    }
    .navBar {
        width: 100%;
        padding: 0 0 5%;
        background-color: #fff;
        li {
            font-size: 0;
            list-style: none;
            display: inline-block;
            width: 20%;
            text-align: center;
            div {
                color: $black;
                font-size: 2.3rem;
            }
            img {
                width: 8rem;
                margin: 20% auto;
            }
        }
    }
    .content {
        margin-top: 2rem;
        &.hotmatchHome .topInfo .title {
            border-left: 0.5rem solid $green;
        }
        &.recListHome .topInfo .title {
            border-left: 0.5rem solid $red;
        }
        &.specialistHome .topInfo .title {
            border-left: 0.5rem solid $blue;
        }
    }

    .topInfo {

        padding: 2.8% 4%;
        width: 100%;
        line-height: 2.8rem;
        background: #fff;
        border-bottom: 0.1rem solid $light_gray;
        .title {
            font-size: 2.8rem;
            border-left: 1rem solid $gray;
            padding-left: 2%;
            line-height: 2.8rem;
            color: $dark_gray;
        }
        .subTitle {
            font-size: 2.4rem;
            padding-left: 2rem;
            color: $gray;
        }
        .link {
            position: relative;
            color: $red;
            float: right;
            font-size: 2.4rem;
            padding-right: 5%;
            &:after {
                content: '';
                display: inline;
                position: absolute;
                background: url(../images/right.png) 0 50% no-repeat;
                background-size: contain;
                right: 0;
                top: 0;
                width: 2rem;
                height: 100%;
            }
        }
    }
    .hongrenbang {
        line-height: 3.5rem;
        padding: 2.67% 4%;
        background-color: #fff;
        .middleInfo {
            margin-left: 9.3%;
        }
        .numInfo {
            float: right;
            margin-right: 5%;
            margin-top: 1.85%;
            background-color: $red;
            display: inline-block;
            width: 1.4rem;
            height: 1.4rem;
            //line-height: 1.5rem;
            border-radius: 50%;
            text-align: center;
            //color: white;
            font-size: 0; //0.5rem;
            &:after {
                content: '';
                display: inline-block;
                position: absolute;
                background: url(../images/right.png) 0 50% no-repeat;
                background-size: contain;
                right: 0;
                top: 0.75rem;
                width: 2rem;
                height: 2rem;
            }
        }
        .scrolldivs {
            position: relative;
            height: 3.5rem;
            overflow: hidden;
            .leftInfo {
                position: absolute;
                left: 0;
                display: inline-block;
                height: 3.5rem;
            }
            .scrollul {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 2.8rem;
            }
        }
    }
    .specialistHome {
        background: #fff;
        .specialItem {
            width: 25%;
            display: inline-block;
            text-align: center;
            border-bottom: none;
            background-color: #fff;
            border-right: none;
            border-left: none;
            font-size: 0;
            & > img {
                width: 43%;
                border-radius: 50%;
                margin: 18% 0 11%;
                background-color: #fff;
            }
            .name {
                font-size: 2.6rem;
                color: $black;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 18%;
            }
        }
    }
    .recListHome {
        .recItem {
            padding: 2.67% 4%;
            background: #fff;
            border-bottom: 1px solid $light_gray;
            .specialInfo {
                display: block;
                margin: 0 0 2.67%;
                border-bottom: none;
                & > img {
                    width: 6.8rem;
                    border-radius: 3.4rem;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 4%;
                    font-size: 0;
                }
                .textInfo {
                    display: inline-block;
                    .tTitle {
                        font-size: 3rem;
                        line-height: 3.7rem;
                        color: $black;
                    }
                    .tDesc {
                        color: $dark_gray;
                        font-size: 2.4rem;
                        line-height: 3.1rem;
                    }
                }
            }
            .saishiAttachPrice{
                .rightPart{
                    border-left: 0.1rem solid $gray;
                }
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 10%;
                    top: -1rem;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 1rem 1rem 1rem;
                    border-color: transparent transparent $light_gray transparent;
                }
            }
        }
    }
}

;