.specialist{
  height:100%;
  .tabs{
    border-bottom: 0.2rem solid;
    border-bottom-color: #cdcdcd;
  }
  .tabItem{
    display: inline-block;
    width: 20%;
    text-align: center;
    height: 6rem;
    line-height: 6rem;
    color: #0000b5;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #cdcdcd;
    box-sizing: border-box;
  }
  .tabItemWithoutBorder{
    display: inline-block;
    width: 20%;
    text-align: center;
    height: 6rem;
    line-height: 6rem;
    color: #0000b5;
  }
  .tabItemWithLine{
    background-color: gainsboro;
  }
  .specialItem{
    width: 25%;
    display: inline-block;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid;
    border-bottom-color: #cdcdcd;
    background-color: white;
    height: 10rem;
    &>img{
      height: 6rem;
      border-radius: 3rem;
      background-color: #ffdcf5;
    }
    .name{
      font-size: 2rem;
      height:4rem;
      line-height: 4rem;
      color:black;
    }
  }
}
