.specialinfo{
  .header{
    background-image: url(../images/back.jpg);
    padding: 1rem;
    .divImg{
      text-align: center;
      &>img{
        width: 8rem;
        border-radius: 4rem;
        border: 0.1rem solid;
        border-color: white;
      }
    }
    .name{
      text-align: center;
      color: white;
      font-size: 2.5rem;
    }
    .desc{
      padding-left: 1rem;
      padding-right: 1rem;
      text-align: center;
      color: white;
      font-size: 2.5rem;
    }
  }
  .tabs{
    line-height: 5rem;
    height: 5rem;
    font-size: 2.5rem;
    .active{
      display: inline-block;
      width: 50%;
      text-align: center;
      background-color: #004700;
      color: #e9e905;
      box-sizing: border-box;
    }
    .unactive{
      display: inline-block;
      width: 50%;
      text-align: center;
      background-color: green;
      color: white;
    }
  }
  .items{
    .block{
      display: block;
    }
    .specialItem{
      height: 12rem;
      background-color: white;
      margin-bottom: 2rem;
      &:last-of-type{
        margin-bottom: 0;
      }
      .leftPart{
        display: inline-block;
        width: 80%;
        height: 12rem;
        vertical-align: top;
        padding: 1rem 2rem;
        .topInfo{
          height: 4rem;
          line-height: 4rem;
          font-size: 2.4rem;
          margin-bottom: 2rem;
          .liansai{
            color: #f47564;
          }
          .add{
            margin-left: 1rem;
            border: 1px solid;
            border-radius: 0.5rem;
            padding: 0.1rem;
            color: green;
          }
          .time{
            float: right;
            margin-right: 1rem;
            color: #b0b6bf;
          }
        }
        .bottomInfo{
          height: 5rem;
          line-height: 5rem;
          text-align: center;
          font-size: 3rem;
          .left{
            float: left;
          }
          .right{
            float: right;
            margin-right: 1rem;
          }
        }
      }
      .rightPart{
        display: inline-block;
        width: 20%;
        line-height: 12rem;
        box-sizing: border-box;
        border-left: 1px solid;
        border-color: #d9d9d9;
        text-align: center;
        color: red;
        height: 12rem;
        font-size: 3rem;
      }
    }
    .itemCategoryTitle{
      padding: 2rem;
      font-size: 2.8rem;
    }
  }

  .article-item{
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    .article-title{
      font-size: 3rem;
      color: #414b59;
      margin-bottom: 1rem;
    }
    .article-creator{
      font-size: 3rem;
      color: #b0b6bf;
    }
  }
}
