.writeArticle{
  text-align: center;
  background-color: #fff;
  overflow-x: hidden;
  .articleTitle{
    width: 100%;
    border: 0;
    padding: 0.5rem 0 0.5rem 1rem;
    font-size: 20px;
    border-bottom: 1px solid #e7e7e7;
    outline: none;
  }
  .articleContent{
    width: 100%;
    border: 0;
    padding: 1rem 0 0 1rem;
    margin-bottom: 0;
    resize: none;
    font-size: 18px;
    outline: none;
  }
}
